<!DOCTYPE html>
<head>
     <title>Power</title>
     <style>
         h1 {
             color:red;
         }

     </style>
</head>
<body>
    <section class="details-container">
        
            <br></br>
            <br></br>
            <br></br>
            <br></br>
<h1> Power</h1>
            <ch5-button class="shadow-pulse-button" type="success" size="x-large" shape="rectangle"
            label="Power on" customstyle ="border:5px solid white">
            </ch5-button>
            <ch5-button class="shadow-pulse-button" type="warning" size="x-large" shape="rectangle"
            label="Power off" customstyle ="border:5px solid white">
            </ch5-button
  
     
    </div>