<section class="details-container">
        <div style="display: flex; justify-content: center;" >
         <h1> Moody Technology Classroom </h1>
        </div>
         <div style="display: flex; justify-content: center;" >
        <h2> CMA 3.104</h2>
        </div>
    
    
    <br></br>
    <br></br>
    
    <div class="container" style="margin-top:30px;">
        
        <div style="display: flex; justify-content: space-between; padding-left: 25px; padding-right: 100;">
            <ch5-button class="shadow-pulse-button" type="default"  size="x-large" shape="circle"
            label="computer" customstyle ="border:3px solid white">
            </ch5-button>

            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="Laptop">
            </ch5-button>

            <ch5-button class="shadow-pulse-button" type="default"  size="x-large" shape="circle"
            label="Doc Cam">
            </ch5-button>

            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="Disk">
            </ch5-button>

            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="Aux Input">
            </ch5-button>

            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="Audio Only">
            </ch5-button>
        </div>

            
        
    
   
        
        
      
        
        
    
</div>
    
</section>