<section class="details-container">
        
    
    <br></br>
    <br></br>
    
    <div class="container" style="margin-top:30px;">
        
        <div style= "display: flex; justify-content: space-between; padding-left: 25px; padding-right: 100;">
            <ch5-button class="shadow-pulse-button" type="default"  size="x-large" shape="circle"
            label="computer" customstyle ="border:5px solid white">
            </ch5-button>

            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="Laptop" customstyle ="border:5px solid white">
            </ch5-button>

            <ch5-button class="shadow-pulse-button" type="default"  size="x-large" shape="circle"
            label="Doc Cam" customstyle ="border:5px solid white">
            </ch5-button>

            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="Disk" customstyle ="border:5px solid white">
            </ch5-button>

            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="Aux Input" customstyle ="border:5px solid white">
            </ch5-button>

            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="Audio Only" customstyle ="border:5px solid white">
            </ch5-button>
        </div>

            
        
    
   
        
        
      
        
        
    
</div>
    
</section>