<!DOCTYPE html>
<head>
     <title>DISC</title>
     <style>
         h1 {
             color:red;
         }

     </style>
</head>
<body><h1> DISC </h1>
    <br>
    <div class="container" style="margin-top:30px;">
        
            
           
        <div style= "display: flex; justify-content: space-between; padding-left: 25px; padding-right: 100;">
            <br>
            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="fas fa-play" customstyle ="border:5px solid white">
            </ch5-button>
            <br>
            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="Stop" customstyle ="border:5px solid white">
            </ch5-button>
            <br>
            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="FF-" customstyle ="border:5px solid white">
            </ch5-button>
            <br>
            <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="Zoom-" customstyle ="border:5px solid white">
            </ch5-button>
        </div>
        
           
    
            
       