<!DOCTYPE html>
<head>
     <title>Power</title>
     <style>
         h1 {
             color:red;
         }

     </style>
</head>
<body>
    <section class="details-container">
        
            <br></br>
            
              
    <h1> Laptop</h1>
    <div class="row">
                <div class="col-md-4"></div>
               
                   
                <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="rectangle"
                    label="VGA w/mini plug" customstyle ="border:5px solid white">
                    </ch5-button>
                      
                    <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="rectangle"
                    label="HDMI w/mini plug" customstyle ="border:5px solid white">
                    </ch5-button>
                  
                 <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="rectangle"
                    label="HDMI w/mini plug" customstyle ="border:5px solid white">
                    </ch5-button>
                     
                   <ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="rectangle"
                    label="HDMI w/mini plug" customstyle ="border:5px solid white">
                    </ch5-button>
    </div>
               
            
           
  
     
    