<!DOCTYPE html>
<head>
     <title>Computer</title>
     <style>
         h1 {
             color:red;
         }

     </style>
</head>
<body>
    <section class="details-container">
        <div style="" >
            <br></br>
            <br></br>
            <br></br>
            <br></br>
<h1> computer</h1>
<ch5-button class="shadow-pulse-button" type="default" size="x-large" shape="circle"
            label="Laptop" customstyle ="border:5px solid white">
            </ch5-button>
  
     
    </div>




</body>